@use "sass:math";

.users-page {
    > .banner-wrapper {
        height: 230px;
        background: linear-gradient(pink, black);
    }

    .user-info-container {
        padding: 0 16px;

        > .controls {
            $padding-top: 12px;
            margin-bottom: 4px;
            padding-top: $padding-top;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            .profileImage {
                $profileImage-size: 134px;
                margin-top: ($profileImage-size / -2) - $padding-top;
                width: $profileImage-size;
                height: $profileImage-size;
                border-radius: 50%;
                border: solid 4px var(--background);

                > img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    background-size: cover;
                }
            }

            .controls__buttons {
                display: flex;

                > button {
                    margin-left: 8px;

                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
        }
        .user-bio {
            margin-top: 12px;
            font-weight: 500;
        }

        .user-metadata-wrapper {
            display: flex;
            flex-wrap: wrap;
            margin: 12px 0;

            & p {
                margin-right: 12px;
                display: flex;
                align-items: center;
                justify-content: flex-start;

                > svg {
                    width: 1.25rem;
                    height: 1.25rem;

                    margin-right: 4px;
                }

                > a.link {
                    color: $color-theme;
                }
            }
        }

        .clout-status {
            padding-bottom: 12px;
            flex-wrap: wrap;
            display: flex;
            align-items: center;
            > p {
                margin-right: 20px;
                display: flex;
                align-items: center;

                > span:first-child {
                    margin-right: 4px;
                }
            }
        }
    }
}
