.mainfeed {
    &__draft {
        margin-top: 40px;
        min-height: 116px;
        padding: 4px 16px 8px 16px;
        display: flex;

        &__profileImage {
            width: 50px;
            height: 50px;
            flex-shrink: 0;
            border-radius: 50%;
            background: rgb(22, 21, 21);
            margin-right: 12px;
        }
        &__content {
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            .draft {
                font-size: 20px;
                padding: 12px 0;
                color: var(--color-text);
            }
            .actions {
                display: flex;
                justify-content: space-between;

                &__media {
                    display: flex;
                    .icon {
                        width: 32px;
                        height: 32px;
                        display: flex;
                        align-items: center;
                        position: relative;
                        justify-content: center;

                        svg {
                            width: 20px;
                            height: 20px;
                            color: $color-theme;
                        }
                    }
                }
            }
        }
    }
}
