.explore-wrapper {
    width: 350px;
    margin-left: 20px;
    flex-shrink: 0;
    padding-top: 5px;
    position: sticky;
    top: 0;
    height: 100vh;

    @import './searchBar.scss';
    @import './searchResults.scss';
}
