*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

:root {
  --background: #000000;
  --background-dimmed: #202327;
  --background-dimmed-dark: #15181c;
  --color-text: #d9d9d9;
  --color-text-dimmed: #6e767d;
}

body {
  background: var(--background);
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--color-text);
}

.App > .content {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
}

.center-expand {
  flex-grow: 1;
  width: 100%;
}

.text-bold {
  font-size: 20px;
  font-weight: 800;
}

.text-subtitle {
  font-size: 16px;
  color: var(--color-text-dimmed);
}

.hover-effect-basic, .hover-effect-red, .hover-effect {
  position: relative;
  cursor: pointer;
}
.hover-effect-basic:hover::before, .hover-effect-red:hover::before, .hover-effect:hover::before {
  opacity: 0.08;
}
.hover-effect-basic::before, .hover-effect-red::before, .hover-effect::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1da1f2;
  opacity: 0;
  border-radius: 50%;
  transition: opacity 250ms;
}

.hover-effect-red::before {
  background-color: red !important;
}

.brd-top {
  border-top: solid 1px var(--color-text-dimmed);
}

.brd-right {
  border-right: solid 1px var(--color-text-dimmed);
}

.brd-bottom {
  border-bottom: solid 1px var(--color-text-dimmed);
}

.brd-left {
  border-left: solid 1px var(--color-text-dimmed);
}

button.action-btn {
  background-color: #1da1f2;
  color: #ffffff;
  text-align: center;
  min-height: 36px;
  padding: 0 16px;
  border-radius: 9999px;
  cursor: pointer;
  transition: 250ms;
}
button.action-btn:hover {
  opacity: 0.8;
}

.mainfeed__draft {
  margin-top: 40px;
  min-height: 116px;
  padding: 4px 16px 8px 16px;
  display: flex;
}
.mainfeed__draft__profileImage {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 50%;
  background: #161515;
  margin-right: 12px;
}
.mainfeed__draft__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.mainfeed__draft__content .draft {
  font-size: 20px;
  padding: 12px 0;
  color: var(--color-text);
}
.mainfeed__draft__content .actions {
  display: flex;
  justify-content: space-between;
}
.mainfeed__draft__content .actions__media {
  display: flex;
}
.mainfeed__draft__content .actions__media .icon {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}
.mainfeed__draft__content .actions__media .icon svg {
  width: 20px;
  height: 20px;
  color: #1da1f2;
}

.tweet-container {
  min-height: 100px;
  padding: 12px 16px;
  display: flex;
}
.tweet-container__profileImage {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 50%;
  background: #161515;
  margin-right: 12px;
  overflow: hidden;
}
.tweet-container__profileImage img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.tweet-container__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.tweet-container__content .header {
  color: var(--color-text-dimmed);
  display: flex;
  justify-content: space-between;
  height: 16px;
  margin-bottom: 10px;
}
.tweet-container__content .header span {
  color: var(--color-text);
  margin-right: 5px;
  font-weight: 700;
}
.tweet-container__content .header .options {
  position: relative;
  transform: translateY(-8px);
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tweet-container__content .header .options svg {
  transition: color 250ms;
}
.tweet-container__content .header .options:hover svg {
  opacity: 0.92;
  color: #1da1f2;
}
.tweet-container__content .metadata {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin-top: 12px;
}
.tweet-container__content .metadata__holder {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tweet-container__content .metadata__holder span {
  margin-left: 5px;
}

.users-page > .banner-wrapper {
  height: 230px;
  background: linear-gradient(pink, black);
}
.users-page .user-info-container {
  padding: 0 16px;
}
.users-page .user-info-container > .controls {
  margin-bottom: 4px;
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
}
.users-page .user-info-container > .controls .profileImage {
  margin-top: -79px;
  width: 134px;
  height: 134px;
  border-radius: 50%;
  border: solid 4px var(--background);
}
.users-page .user-info-container > .controls .profileImage > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-size: cover;
}
.users-page .user-info-container .user-bio {
  margin-top: 12px;
  font-weight: 500;
}
.users-page .user-info-container .user-metadata-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 12px 0;
}
.users-page .user-info-container .user-metadata-wrapper p {
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.users-page .user-info-container .user-metadata-wrapper p > svg {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 4px;
}
.users-page .user-info-container .user-metadata-wrapper p > span.link {
  color: #1da1f2;
}
.users-page .user-info-container .clout-status {
  padding-bottom: 12px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}
.users-page .user-info-container .clout-status > p {
  margin-right: 20px;
  display: flex;
  align-items: center;
}
.users-page .user-info-container .clout-status > p > span:first-child {
  margin-right: 4px;
}

.sidebar-container {
  width: 270px;
  height: 100vh;
  position: sticky;
  top: 0;
}
.sidebar-container .option {
  width: max-content;
  display: flex;
  align-items: center;
  font-size: 24px;
  border-radius: 9999px;
  padding: 12px;
  cursor: pointer;
  transition: background-color 250ms;
}
.sidebar-container .option:hover {
  background-color: var(--background-dimmed);
}
.sidebar-container .option > span {
  text-overflow: ellipsis;
  max-width: 100%;
  margin: 0 16px 0 20px;
}

/*# sourceMappingURL=style.css.map */
