*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

:root {
  --background: #000000;
  --background-light: #536471;
  --background-hover: #1c1f23;
  --background-dimmed: #202327;
  --background-dimmed-dark: #15181c;
  --color-text: #d9d9d9;
  --color-text-light: #eff3f4;
  --color-text-dimmed: #6e767d;
  --color-border: #2f3336;
}

[data-theme=light] {
  --background: #ffffff;
  --background-light: #cfd9de;
  --background-hover: #f7f9f9;
  --background-dimmed: #0f14191a;
  --background-dimmed-dark: #f7f9f9;
  --color-text: #0f1419;
  --color-text-light: #0f1419;
  --color-text-dimmed: #536471;
  --color-border: #eff3f4;
}

[data-theme=dimmed] {
  --background: #15202b;
  --background-light: rgb(83, 100, 113);
  --background-hover: #192734;
  --background-dimmed: #253341;
  --background-dimmed-dark: #00f;
  --color-text: #ffffff;
  --color-text-light: #eff3f4;
  --color-text-dimmed: #8899a6;
  --color-border: #2f3336;
}

[data-theme=dark] {
  --background: #000000;
  --background-light: #536471;
  --background-hover: #1c1f23;
  --background-dimmed: #202327;
  --background-dimmed-dark: #15181c;
  --color-text: #d9d9d9;
  --color-text-light: #eff3f4;
  --color-text-dimmed: #6e767d;
  --color-border: #2f3336;
}

body {
  background: var(--background);
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--color-text);
}

.App > .content {
  display: flex;
  max-width: 1250px;
  margin: 0 auto;
}

.center-expand {
  flex-grow: 1;
  width: 100%;
}

.text-bold {
  font-size: 20px;
  font-weight: 800;
}

.text-subtitle {
  font-size: 16px;
  color: var(--color-text-dimmed);
}

.hover-effect-basic, .hover-effect-red, .hover-effect {
  position: relative;
  cursor: pointer;
}
.hover-effect-basic:hover::before, .hover-effect-red:hover::before, .hover-effect:hover::before {
  opacity: 0.08;
}
.hover-effect-basic::before, .hover-effect-red::before, .hover-effect::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1da1f2;
  opacity: 0;
  border-radius: 50%;
  transition: opacity 250ms;
}

a {
  color: inherit;
  text-decoration: none;
}

.hover-effect-red::before {
  background-color: red !important;
}

.brd-top {
  border-top: solid 1px var(--color-border);
}

.brd-right, .center-expand {
  border-right: solid 1px var(--color-border);
}

.brd-bottom {
  border-bottom: solid 1px var(--color-border);
}

.brd-left {
  border-left: solid 1px var(--color-border);
}

button.circular-btn {
  border: solid 1px var(--background-light);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  border-radius: 50%;
  cursor: pointer;
}
button.circular-btn > svg {
  color: var(--color-text-light);
  width: 90%;
}

button.action-btn {
  background-color: #1da1f2;
  color: #ffffff;
  text-align: center;
  min-height: 36px;
  padding: 0 16px;
  border-radius: 9999px;
  cursor: pointer;
  transition: 250ms;
}
button.action-btn:hover {
  opacity: 0.8;
}

.mainfeed__draft {
  margin-top: 40px;
  min-height: 116px;
  padding: 4px 16px 8px 16px;
  display: flex;
}
.mainfeed__draft__profileImage {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 50%;
  background: #161515;
  margin-right: 12px;
}
.mainfeed__draft__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.mainfeed__draft__content .draft {
  font-size: 20px;
  padding: 12px 0;
  color: var(--color-text);
}
.mainfeed__draft__content .actions {
  display: flex;
  justify-content: space-between;
}
.mainfeed__draft__content .actions__media {
  display: flex;
}
.mainfeed__draft__content .actions__media .icon {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}
.mainfeed__draft__content .actions__media .icon svg {
  width: 20px;
  height: 20px;
  color: #1da1f2;
}

.tweet-container {
  min-height: 100px;
  padding: 12px 16px;
  display: flex;
}
.tweet-container__profileImage {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 50%;
  background: #161515;
  margin-right: 12px;
  overflow: hidden;
}
.tweet-container__profileImage img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.tweet-container__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.tweet-container__content .header {
  color: var(--color-text-dimmed);
  display: flex;
  justify-content: space-between;
  height: 16px;
  margin-bottom: 10px;
}
.tweet-container__content .header span {
  color: var(--color-text);
  margin-right: 5px;
  font-weight: 700;
}
.tweet-container__content .header .options {
  position: relative;
  transform: translateY(-8px);
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tweet-container__content .header .options svg {
  transition: color 250ms;
}
.tweet-container__content .header .options:hover svg {
  opacity: 0.92;
  color: #1da1f2;
}
.tweet-container__content .metadata {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin-top: 12px;
}
.tweet-container__content .metadata__holder {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tweet-container__content .metadata__holder span {
  margin-left: 5px;
}

.explore-wrapper {
  width: 350px;
  margin-left: 20px;
  flex-shrink: 0;
  padding-top: 5px;
  position: sticky;
  top: 0;
  height: 100vh;
}
.explore-wrapper .searchBar-wrapper {
  width: 100%;
  background-color: var(--background-dimmed);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  position: relative;
  color: var(--color-text-dimmed);
  transition: 250ms;
  border: solid 1px transparent;
}
.explore-wrapper .searchBar-wrapper.active, .explore-wrapper .searchBar-wrapper:focus-within {
  background: transparent;
  border: solid 1px #1da1f2;
}
.explore-wrapper .searchBar-wrapper.active > svg, .explore-wrapper .searchBar-wrapper:focus-within > svg {
  color: #1da1f2;
}
.explore-wrapper .searchBar-wrapper.active .clear-btn, .explore-wrapper .searchBar-wrapper:focus-within .clear-btn {
  display: flex;
}
.explore-wrapper .searchBar-wrapper input {
  font-size: 17px;
  background-color: transparent;
  padding: 13px;
  width: 100%;
  color: var(--color-text);
}
.explore-wrapper .searchBar-wrapper input::placeholder {
  color: var(--color-text-dimmed);
}
.explore-wrapper .searchBar-wrapper > svg {
  min-width: 35px;
  padding-left: 13px;
  transition: 250ms;
}
.explore-wrapper .searchBar-wrapper .clear-btn {
  display: none;
  align-items: center;
  justify-content: center;
  margin-right: 13px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.explore-wrapper .searchBar-wrapper .clear-btn:hover {
  opacity: 0.93;
}
.explore-wrapper .searchBar-wrapper .clear-btn > .circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #1da1f2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.explore-wrapper .searchBar-wrapper .clear-btn > .circle svg {
  color: var(--background);
  height: 17px;
  position: absolute;
}
.explore-wrapper .searchResults-container {
  max-width: 100%;
}
.explore-wrapper .searchResults-container > .searchResult-container__row {
  cursor: pointer;
  transition: 250ms;
  padding: 13px 18px;
  display: flex;
}
.explore-wrapper .searchResults-container > .searchResult-container__row:hover {
  background-color: var(--background-hover);
}
.explore-wrapper .searchResults-container > .searchResult-container__row > .image {
  flex-shrink: 0;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 13px;
  position: relative;
}
.explore-wrapper .searchResults-container > .searchResult-container__row > .image > img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.explore-wrapper .searchResults-container > .searchResult-container__row > .text {
  overflow: hidden;
  font-size: 16px;
}
.explore-wrapper .searchResults-container > .searchResult-container__row > .text > * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.explore-wrapper .searchResults-container > .searchResult-container__row > .text > .text__name {
  color: var(--color-text);
}
.explore-wrapper .searchResults-container > .searchResult-container__row > .text > .text__subtitle {
  color: var(--color-text-dimmed);
}

.chat-container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.chat-container .messages-container {
  padding: 0 18px 8px 18px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.chat-container .messages-container .message {
  font-size: 17px;
  max-width: 62%;
  white-space: initial;
  min-height: 36px;
  padding: 13px 18px;
  display: flex;
  margin: 2px 0;
  border-radius: 16px;
  word-break: break-all;
}
.chat-container .messages-container .message.sent {
  align-self: flex-end;
  background-color: #1da1f2;
  color: var(--color-text-light);
  border-bottom-right-radius: 0;
}
.chat-container .messages-container .message.sent + .message__time {
  align-self: flex-end;
}
.chat-container .messages-container .message.sent.center {
  border-top-right-radius: 0;
}
.chat-container .messages-container .message.received {
  align-self: flex-start;
  background-color: var(--color-text);
  color: var(--background);
  border-bottom-left-radius: 0;
}
.chat-container .messages-container .message.received.center {
  border-top-left-radius: 0;
}
.chat-container .messages-container .message__time {
  align-self: flex-start;
  padding: 2px 0 8px 0;
  font-size: 14px;
  color: var(--color-text-dimmed);
}
.chat-container .inputField {
  background: var(--background);
  width: 100%;
  position: sticky;
  bottom: 0;
  padding: 9px;
  min-height: 60px;
  display: flex;
  margin-top: auto;
}
.chat-container .inputField > input {
  padding: 4px 13px;
  border-radius: 9999px;
  color: var(--color-text);
  background: transparent;
  margin-right: 12px;
  width: 100%;
  border: solid 1px var(--color-text-dimmed);
}

.users-page > .banner-wrapper {
  height: 230px;
  background: linear-gradient(pink, black);
}
.users-page .user-info-container {
  padding: 0 16px;
}
.users-page .user-info-container > .controls {
  margin-bottom: 4px;
  padding-top: 12px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.users-page .user-info-container > .controls .profileImage {
  margin-top: -79px;
  width: 134px;
  height: 134px;
  border-radius: 50%;
  border: solid 4px var(--background);
}
.users-page .user-info-container > .controls .profileImage > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-size: cover;
}
.users-page .user-info-container > .controls .controls__buttons {
  display: flex;
}
.users-page .user-info-container > .controls .controls__buttons > button {
  margin-left: 8px;
}
.users-page .user-info-container > .controls .controls__buttons > button:first-child {
  margin-left: 0;
}
.users-page .user-info-container .user-bio {
  margin-top: 12px;
  font-weight: 500;
}
.users-page .user-info-container .user-metadata-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 12px 0;
}
.users-page .user-info-container .user-metadata-wrapper p {
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.users-page .user-info-container .user-metadata-wrapper p > svg {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 4px;
}
.users-page .user-info-container .user-metadata-wrapper p > a.link {
  color: #1da1f2;
}
.users-page .user-info-container .clout-status {
  padding-bottom: 12px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}
.users-page .user-info-container .clout-status > p {
  margin-right: 20px;
  display: flex;
  align-items: center;
}
.users-page .user-info-container .clout-status > p > span:first-child {
  margin-right: 4px;
}

.sidebar-container {
  width: 270px;
  height: 100vh;
  position: sticky;
  top: 0;
}
.sidebar-container .option {
  width: max-content;
  display: flex;
  align-items: center;
  font-size: 24px;
  border-radius: 9999px;
  padding: 12px;
  cursor: pointer;
  transition: background-color 250ms;
}
.sidebar-container .option:hover {
  background-color: var(--background-dimmed);
}
.sidebar-container .option > svg {
  text-overflow: ellipsis;
  max-width: 100%;
  margin: 0 16px 0 0px;
}

/*# sourceMappingURL=style.css.map */
