*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

// variables
$color-theme: #1da1f2;

$transition-speed-fast: 250ms;
$transition-speed-medium: 500ms;
$transition-speed-slow: 800ms;

$border-radius-light: 5px;
$border-radius-medium: 8px;
$border-radius-round: 15px;

:root {
    --background: #000000;
    --background-dimmed: #202327;
    --background-dimmed-dark: #15181c;
    --color-text: #d9d9d9;
    --color-text-dimmed: #6e767d;
}

body {
    background: var(--background);
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--color-text);
}

.home-container {
    .content {
        display: flex;
        max-width: 1400px;
        margin: 0 auto;
    }
}

// border tags
.brd-top {
    border-top: solid 1px var(--color-text-dimmed);
}
.brd-right {
    border-right: solid 1px var(--color-text-dimmed);
}
.brd-bottom {
    border-bottom: solid 1px var(--color-text-dimmed);
}
.brd-left {
    border-left: solid 1px var(--color-text-dimmed);
}

// components
button.action-btn {
    background-color: $color-theme;
    color: #ffffff;
    text-align: center;
    min-height: 36px;
    padding: 0 16px;
    border-radius: 9999px;
    cursor: pointer;
    transition: $transition-speed-fast;

    &:hover {
        opacity: 0.8;
    }
}

@import './components/mainfeed/mainfeed.scss';
@import './components/sidebar/sidebar.scss';
