@use "sass:math";
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

// variables
$color-theme: #1da1f2;
$color-success: #155724;
$color-red: #721c24;

$transition-speed-fast: 250ms;
$transition-speed-medium: 500ms;
$transition-speed-slow: 800ms;

$border-radius-light: 5px;
$border-radius-medium: 8px;
$border-radius-round: 15px;

:root {
    --background: #000000;
    --background-light: #536471;
    --background-dimmed: #202327;
    --background-dimmed-dark: #15181c;
    --color-text: #d9d9d9;
    --color-text-light: #ffffff;
    --color-text-dimmed: #6e767d;
}

body {
    background: var(--background);
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--color-text);
}

.App > .content {
    display: flex;
    max-width: 1250px;
    margin: 0 auto;
}

.center-expand {
    flex-grow: 1;
    width: 100%;
}

.text-bold {
    font-size: 20px;
    font-weight: 800;
}

.text-subtitle {
    font-size: 16px;
    color: var(--color-text-dimmed);
}

// hover effect
.hover-effect-basic {
    position: relative;
    // background-color: magenta;
    cursor: pointer;

    &:hover::before {
        opacity: 0.08;
    }

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $color-theme;
        opacity: 0;
        border-radius: 50%;
        transition: opacity $transition-speed-fast;
    }
}

// remove default style for router link
a {
    color: inherit;
    text-decoration: none;
}

.hover-effect {
    @extend .hover-effect-basic;
    // svg::before {
    //     background-color: orange !important;
    // }
}
.hover-effect-red {
    // background-color: blue;
    @extend .hover-effect-basic;
    &::before {
        background-color: red !important;
    }
}

// border tags
.brd-top {
    border-top: solid 1px var(--color-text-dimmed);
}
.brd-right {
    border-right: solid 1px var(--color-text-dimmed);
}
.brd-bottom {
    border-bottom: solid 1px var(--color-text-dimmed);
}
.brd-left {
    border-left: solid 1px var(--color-text-dimmed);
}

// components

button.circular-btn {
    border: solid 1px var(--background-light);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;

    & > svg {
        color: var(--color-text-light);
        width: 90%;
    }
}

button.action-btn {
    background-color: $color-theme;
    color: #ffffff;
    text-align: center;
    min-height: 36px;
    padding: 0 16px;
    border-radius: 9999px;
    cursor: pointer;
    transition: $transition-speed-fast;

    &:hover {
        opacity: 0.8;
    }
}

@import './components/mainfeed/mainfeed.scss';
@import './components/tweet/tweet.scss';
@import './components/messages/messages.scss';
@import './components/userpage/userpage.scss';
@import './components/sidebar/sidebar.scss';
