.settings-container {
    .settings-section {
        padding: 16px 0px;

        > h2 {
            padding: 0 16px;
            margin-bottom: 12px;
        }
    }
    @import './themeToggler.scss';
    @import './profileEdit.scss';
}
